.header {
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: #f0f0f0;
    border-radius: 16px 16px 0px 0px ;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.5s ease-in-out; /* Smooth transition for hover effect */
}

.header:hover {
    background-color: #ffc688; /* Change background color on hover */
}

.logo {
    width: 80px;
    margin: 10px;
    /* margin: 15px; */
   
}